SERVER_ENVIRONMENT="development"
SERVER_PORT="8080"

DATABASE_USER="techchallenge"
DATABASE_PASSWORD="password"
DATABASE_HOST="db"
DATABASE_PORT="5432"
DATABASE_NAME="techchallenge-db"

CACHE_USER="techchallenge"
CACHE_PASSWORD="password"
CACHE_HOST="cache"
CACHE_PORT="6379"

JWT_SECRET_KEY="jwt-token"

AWS_DEFAULT_REGION="sa-east-1"

SES_SENDER_EMAIL="foo@bar.com"
SES_REPLY_TO="foo@bar.com"
