openapi: 3.0.3
info:
  title: Tech Challenge - Oficina Mecanica API
  description: API para gerenciamento de oficina mecanica com controle de ordens de servico, estoque e clientes.
  version: 2.1.0
  license:
    name: Uso academico

servers:
  - url: https://techchallenge.douglasdgoulart.xyz
    description: Ambiente publico
  - url: /
    description: Servidor atual (desenvolvimento local ou proxy)

tags:
  - name: Health
    description: Health check
  - name: Auth
    description: Autenticacao e registro de usuarios
  - name: Users
    description: Gerenciamento de usuarios (admin only)
  - name: Customers
    description: Gerenciamento de clientes
  - name: Vehicles
    description: Gerenciamento de veiculos
  - name: Supplies
    description: Gerenciamento de pecas e insumos
  - name: Services
    description: Catalogo de servicos da oficina
  - name: Work Orders
    description: Ordens de servico
  - name: Public
    description: Endpoints publicos (sem autenticacao)
  - name: Reports
    description: Relatorios de gestao administrativa

security:
  - BearerAuth: []

x-protected-responses: &protectedResponses
  "401":
    $ref: "#/components/responses/Unauthorized"
  "403":
    $ref: "#/components/responses/Forbidden"
  "500":
    $ref: "#/components/responses/InternalServerError"

paths:
  /ping:
    get:
      operationId: getPing
      tags: [Health]
      summary: Health check
      security: []
      responses:
        "200":
          description: API is running
          content:
            text/plain:
              schema:
                type: string
                example: Pong

  /ready:
    get:
      operationId: getReady
      tags: [Health]
      summary: Verificar prontidao da API e do banco
      security: []
      responses:
        "200":
          description: API pronta para receber trafego
        "503":
          description: Banco de dados indisponivel

  # ── Auth ──────────────────────────────────────────────
  /auth/register:
    post:
      operationId: postAuthRegister
      tags: [Auth]
      summary: Registrar novo usuario
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Usuario criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"

  /auth/login:
    post:
      operationId: postAuthLogin
      tags: [Auth]
      summary: Login e obtencao de token JWT
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Token JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Credenciais invalidas
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ── Users ─────────────────────────────────────────────
  /users:
    get:
      operationId: getUsers
      tags: [Users]
      summary: Listar todos os usuarios
      description: Requer role admin.
      responses:
        <<: *protectedResponses
        "200":
          description: Lista de usuarios
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"

  /users/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      operationId: getUsersId
      tags: [Users]
      summary: Buscar usuario por ID
      responses:
        <<: *protectedResponses
        "200":
          description: Usuario encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: putUsersId
      tags: [Users]
      summary: Atualizar usuario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        <<: *protectedResponses
        "200":
          description: Usuario atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      operationId: deleteUsersId
      tags: [Users]
      summary: Deletar usuario
      responses:
        <<: *protectedResponses
        "204":
          description: Usuario deletado
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  # ── Customers ─────────────────────────────────────────
  /customers:
    post:
      operationId: postCustomers
      tags: [Customers]
      summary: Criar cliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerRequest"
      responses:
        <<: *protectedResponses
        "201":
          description: Cliente criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
    get:
      operationId: getCustomers
      tags: [Customers]
      summary: Listar todos os clientes
      parameters:
        - name: document
          in: query
          description: Filtrar pelo CPF ou CNPJ; pontuacao e ignorada.
          schema:
            type: string
      responses:
        <<: *protectedResponses
        "200":
          description: Lista de clientes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Customer"

  /customers/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      operationId: getCustomersId
      tags: [Customers]
      summary: Buscar cliente por ID
      responses:
        <<: *protectedResponses
        "200":
          description: Cliente encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: putCustomersId
      tags: [Customers]
      summary: Atualizar cliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerRequest"
      responses:
        <<: *protectedResponses
        "200":
          description: Cliente atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      operationId: deleteCustomersId
      tags: [Customers]
      summary: Deletar cliente
      responses:
        <<: *protectedResponses
        "204":
          description: Cliente deletado
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  # ── Vehicles ──────────────────────────────────────────
  /vehicles:
    post:
      operationId: postVehicles
      tags: [Vehicles]
      summary: Criar veiculo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VehicleRequest"
      responses:
        <<: *protectedResponses
        "201":
          description: Veiculo criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vehicle"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
    get:
      operationId: getVehicles
      tags: [Vehicles]
      summary: Listar todos os veiculos
      parameters:
        - name: customer_id
          in: query
          description: Filtrar por cliente (UUID). O alias legado `customerId` tambem e aceito temporariamente.
          schema:
            type: string
            format: uuid
      responses:
        <<: *protectedResponses
        "200":
          description: Lista de veiculos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Vehicle"

  /vehicles/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      operationId: getVehiclesId
      tags: [Vehicles]
      summary: Buscar veiculo por ID
      responses:
        <<: *protectedResponses
        "200":
          description: Veiculo encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vehicle"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: putVehiclesId
      tags: [Vehicles]
      summary: Atualizar veiculo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VehicleRequest"
      responses:
        <<: *protectedResponses
        "200":
          description: Veiculo atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vehicle"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      operationId: deleteVehiclesId
      tags: [Vehicles]
      summary: Deletar veiculo
      responses:
        <<: *protectedResponses
        "204":
          description: Veiculo deletado
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  # ── Supplies ──────────────────────────────────────────
  /supplies/pending-purchases:
    get:
      operationId: getSuppliesPendingPurchases
      tags: [Supplies]
      summary: Listar compras pendentes (insumos em falta para servicos aprovados)
      description: Retorna todos os servicos aprovados que possuem insumos com quantidade necessaria maior que o estoque disponivel.
      responses:
        <<: *protectedResponses
        "200":
          description: Lista de alertas de compra
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SupplyShortageAlert"

  /supplies:
    post:
      operationId: postSupplies
      tags: [Supplies]
      summary: Criar insumo/peca
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SupplyRequest"
      responses:
        <<: *protectedResponses
        "201":
          description: Insumo criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Supply"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
    get:
      operationId: getSupplies
      tags: [Supplies]
      summary: Listar todos os insumos
      responses:
        <<: *protectedResponses
        "200":
          description: Lista de insumos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Supply"

  /supplies/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      operationId: getSuppliesId
      tags: [Supplies]
      summary: Buscar insumo por ID
      responses:
        <<: *protectedResponses
        "200":
          description: Insumo encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Supply"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: putSuppliesId
      tags: [Supplies]
      summary: Atualizar insumo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SupplyRequest"
      responses:
        <<: *protectedResponses
        "200":
          description: Insumo atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Supply"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      operationId: deleteSuppliesId
      tags: [Supplies]
      summary: Deletar insumo
      responses:
        <<: *protectedResponses
        "204":
          description: Insumo deletado
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  # ── Services ──────────────────────────────────────────
  /services:
    post:
      operationId: postServices
      tags: [Services]
      summary: Criar servico da oficina
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkshopServiceCreateRequest"
      responses:
        <<: *protectedResponses
        "201":
          description: Servico criado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkshopServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
    get:
      operationId: getServices
      tags: [Services]
      summary: Listar servicos da oficina
      parameters:
        - name: title
          in: query
          description: Busca parcial por titulo (case insensitive)
          schema:
            type: string
        - name: active
          in: query
          description: Filtrar por status ativo
          schema:
            type: boolean
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        <<: *protectedResponses
        "200":
          description: Lista paginada de servicos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkshopServiceListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /services/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      operationId: getServicesId
      tags: [Services]
      summary: Buscar servico por ID
      responses:
        <<: *protectedResponses
        "200":
          description: Servico encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkshopServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: putServicesId
      tags: [Services]
      summary: Atualizar servico (parcial)
      description: Apenas os campos fornecidos sao alterados.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkshopServiceUpdateRequest"
      responses:
        <<: *protectedResponses
        "200":
          description: Servico atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkshopServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      operationId: deleteServicesId
      tags: [Services]
      summary: Deletar ou desativar servico
      description: |
        Hard delete se nao ha vinculos com OS.
        Se ha vinculos, desativa (soft delete) e retorna 200.
      responses:
        <<: *protectedResponses
        "204":
          description: Servico deletado (hard delete)
        "200":
          description: Servico desativado (soft delete)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: service has existing work order links and was deactivated
                  service:
                    $ref: "#/components/schemas/WorkshopServiceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /services/avg-execution-time:
    get:
      operationId: getServicesAvgExecutionTime
      tags: [Reports]
      summary: Tempo medio de execucao por servico
      description: |
        Retorna o tempo medio real de execucao para cada tipo de servico,
        calculado a partir de servicos finalizados em ordens de servico.
      parameters:
        - name: from
          in: query
          description: Data inicio (YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: "2026-01-01"
        - name: to
          in: query
          description: Data fim (YYYY-MM-DD)
          schema:
            type: string
            format: date
            example: "2026-12-31"
        - name: technician_id
          in: query
          description: Filtrar pelo tecnico atribuido (UUID). O alias legado `technicianId` tambem e aceito temporariamente.
          schema:
            type: string
            format: uuid
      responses:
        <<: *protectedResponses
        "200":
          description: Lista com tempos medios
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AvgExecutionTimeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  # ── Work Orders ───────────────────────────────────────
  /work-orders:
    post:
      operationId: postWorkOrders
      tags: [Work Orders]
      summary: Criar ordem de servico
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkOrderCreateRequest"
      responses:
        <<: *protectedResponses
        "201":
          description: OS criada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkOrder"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
    get:
      operationId: getWorkOrders
      tags: [Work Orders]
      summary: Listar ordens de servico
      description: |
        Lista paginada de OS operacionais. Regras de exclusao e ordenacao:
        - FINALIZADA e ENTREGUE sao SEMPRE excluidas, inclusive quando o filtro `status`
          e informado (o filtro explicito NAO contorna a exclusao). Filtrar por um desses
          status retorna lista vazia (total = 0).
        - CANCELADA fica oculta na listagem padrao, mas e retornada quando o filtro
          explicito `status=CANCELADA` e informado (consulta/auditoria).
        - APROVADO permanece na listagem (OS ativa aguardando execucao); como nao esta
          entre os status priorizados, ordena depois deles.
        - Ordenacao por prioridade de status: EM_EXECUCAO > AGUARDANDO_APROVACAO >
          EM_DIAGNOSTICO > RECEBIDA (demais status ordenam por ultimo).
        - Dentro do mesmo status, mais antigas primeiro (received_at ASC).
        - Paginacao (`total`, `total_pages`) considera as exclusoes acima.
      parameters:
        - name: status
          in: query
          description: >-
            Filtrar por status. FINALIZADA e ENTREGUE permanecem sempre excluidas
            (filtrar por elas retorna vazio). CANCELADA so aparece quando filtrada
            explicitamente.
          schema:
            $ref: "#/components/schemas/WorkOrderStatus"
        - name: customer_id
          in: query
          description: Filtrar por cliente (UUID). O alias legado `customerId` tambem e aceito temporariamente.
          schema:
            type: string
            format: uuid
        - name: vehicle_id
          in: query
          description: Filtrar por veiculo (UUID). O alias legado `vehicleId` tambem e aceito temporariamente.
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          description: Data inicio (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: to
          in: query
          description: Data fim (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        <<: *protectedResponses
        "200":
          description: Lista paginada de OS
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkOrderListResponse"
        "401":
          description: Nao autenticado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /work-orders/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      operationId: getWorkOrdersId
      tags: [Work Orders]
      summary: Buscar OS por ID
      responses:
        <<: *protectedResponses
        "200":
          description: OS encontrada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkOrder"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: putWorkOrdersId
      tags: [Work Orders]
      summary: Atualizar OS (campos e/ou status)
      description: |
        Se o campo `status` for enviado, a transicao de status e processada via maquina de estados.
        Ao transitar para AGUARDANDO_APROVACAO, o orcamento e enviado por e-mail.
        Na geracao do orcamento, quando houver insumo com quantidade necessaria maior que o estoque,
        o prazo estimado do servico no orcamento recebe acrescimo padrao de 2 dias.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkOrderUpdateRequest"
      responses:
        <<: *protectedResponses
        "200":
          description: OS atualizada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkOrder"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          description: Transicao de status invalida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /work-orders/{id}/services:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    post:
      operationId: postWorkOrdersIdServices
      tags: [Work Orders]
      summary: Adicionar servicos a uma OS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/AddServiceRequest"
      responses:
        <<: *protectedResponses
        "201":
          description: Servicos adicionados
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkOrderService"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          description: Status da OS nao permite adicionar servicos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /work-orders/{id}/services/{wosId}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
      - name: wosId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID do servico na OS (work_order_service)
    delete:
      operationId: deleteWorkOrdersIdServicesWosId
      tags: [Work Orders]
      summary: Remover servico de uma OS
      responses:
        <<: *protectedResponses
        "204":
          description: Servico removido
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Status da OS nao permite remocao
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /work-orders/{id}/services/{wosId}/start:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
      - name: wosId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: putWorkOrdersIdServicesWosIdStart
      tags: [Work Orders]
      summary: Iniciar execucao de um servico individual
      description: |
        Transiciona o servico de PENDENTE para EM_EXECUCAO.
        Requer que a OS esteja em EM_EXECUCAO e que o servico esteja aprovado.
        Bloqueia se os insumos vinculados excedem o estoque disponivel.
      responses:
        <<: *protectedResponses
        "200":
          description: Servico iniciado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Servico iniciado com sucesso"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Estoque insuficiente, status invalido ou servico nao pertence a OS
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /work-orders/{id}/services/{wosId}/finalize:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
      - name: wosId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: putWorkOrdersIdServicesWosIdFinalize
      tags: [Work Orders]
      summary: Finalizar um servico individual
      description: |
        Transiciona o servico de EM_EXECUCAO para FINALIZADO.
        Da baixa no estoque dos insumos vinculados.
        Se todos os servicos aprovados estiverem finalizados, a OS auto-transiciona para FINALIZADA.
      responses:
        <<: *protectedResponses
        "200":
          description: Servico finalizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Servico finalizado com sucesso"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Status invalido ou servico nao pertence a OS
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Erro interno
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /work-orders/{id}/services/{wosId}/supplies:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
      - name: wosId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID do servico na OS
    post:
      operationId: postWorkOrdersIdServicesWosIdSupplies
      tags: [Work Orders]
      summary: Adicionar insumos a um servico da OS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/AddSupplyRequest"
      responses:
        <<: *protectedResponses
        "201":
          description: Insumos adicionados
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkOrderServiceSupply"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          description: Servico nao pertence a esta OS
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /work-orders/{id}/services/{wosId}/supplies/{supplyId}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
      - name: wosId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: supplyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      operationId: deleteWorkOrdersIdServicesWosIdSuppliesSupplyId
      tags: [Work Orders]
      summary: Remover insumo de um servico da OS
      responses:
        <<: *protectedResponses
        "204":
          description: Insumo removido
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Status nao permite remocao
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Public ────────────────────────────────────────────
  /public/work-orders/{code}:
    parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Codigo da OS
    get:
      operationId: getPublicWorkOrdersCode
      tags: [Public]
      summary: Consultar status da OS (publico)
      security: []
      description: |
        Permite ao cliente consultar o status atual da OS informando o codigo e seu documento (CPF/CNPJ).
        Status possiveis: RECEBIDA, EM_DIAGNOSTICO, AGUARDANDO_APROVACAO, APROVADO, EM_EXECUCAO, FINALIZADA, ENTREGUE, CANCELADA.
      parameters:
        - name: document
          in: query
          required: true
          description: Documento do cliente (CPF ou CNPJ)
          schema:
            type: string
            example: "12345678901"
      responses:
        "200":
          description: Status publico da OS
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicWorkOrderView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/approvals/services/{workOrderServiceId}/approve:
    parameters:
      - name: workOrderServiceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getPublicApprovalsServicesWorkOrderServiceIdApprove
      tags: [Public]
      summary: Aprovar um servico da OS
      security: []
      description: |
        Endpoint chamado pelo cliente (via link no e-mail de orcamento) para aprovar um servico especifico.
        Quando todos os servicos sao aprovados, a OS transita para APROVADO.
      responses:
        "200":
          description: Servico aprovado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
              example:
                message: Servico aprovado com sucesso
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/approvals/services/{workOrderServiceId}/reject:
    parameters:
      - name: workOrderServiceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getPublicApprovalsServicesWorkOrderServiceIdReject
      tags: [Public]
      summary: Reprovar um servico da OS
      security: []
      description: |
        Endpoint chamado pelo cliente (via link no e-mail de orcamento) para recusar um servico especifico.
        Quando todos os servicos sao reprovados, a OS transita para CANCELADA.
      responses:
        "200":
          description: Servico reprovado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
              example:
                message: Servico reprovado com sucesso
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/approvals/work-orders/{workOrderId}/approve-all:
    parameters:
      - name: workOrderId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getPublicApprovalsWorkOrdersWorkOrderIdApproveAll
      tags: [Public]
      summary: Aprovar todos os servicos de uma OS
      security: []
      description: |
        Endpoint chamado pelo cliente (via link no e-mail de orcamento) para aprovar todos os servicos de uma vez.
        A OS transita para APROVADO.
      responses:
        "200":
          description: Todos aprovados
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
              example:
                message: Todos os servicos foram aprovados com sucesso
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/approvals/work-orders/{workOrderId}/reject-all:
    parameters:
      - name: workOrderId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getPublicApprovalsWorkOrdersWorkOrderIdRejectAll
      tags: [Public]
      summary: Reprovar todos os servicos de uma OS
      security: []
      description: |
        Endpoint chamado pelo cliente (via link no e-mail de orcamento) para recusar todos os servicos de uma vez.
        A OS transita para CANCELADA.
      responses:
        "200":
          description: Todos reprovados
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
              example:
                message: Todos os servicos foram reprovados com sucesso
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      description: Numero da pagina (default 1)
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      description: Itens por pagina (default 10)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10

  responses:
    BadRequest:
      description: Requisicao invalida
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "invalid id"
    NotFound:
      description: Recurso nao encontrado
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "resource not found"
    Conflict:
      description: "Conflito (ex: titulo duplicado)"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "service title already exists"
    Unauthorized:
      description: Autenticacao ausente ou invalida
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "invalid token"
    Forbidden:
      description: Papel autenticado sem permissao para a operacao
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "insufficient permissions"
    UnprocessableEntity:
      description: Transicao de estado ou regra de negocio invalida
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalServerError:
      description: Erro interno sem exposicao de detalhes
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "internal server error"

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
      required: [error]

    WorkOrderStatus:
      type: string
      enum:
        [
          RECEBIDA,
          EM_DIAGNOSTICO,
          AGUARDANDO_APROVACAO,
          APROVADO,
          EM_EXECUCAO,
          FINALIZADA,
          ENTREGUE,
          CANCELADA,
        ]

    MessageResponse:
      type: object
      properties:
        message:
          type: string

    # ── Auth ──────────────────────────────────────────
    RegisterRequest:
      type: object
      required: [username, password, role]
      properties:
        username:
          type: string
          example: joao
        password:
          type: string
          example: senha123
        role:
          type: string
          enum: [admin, employee]
          example: admin

    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          example: joao
        password:
          type: string
          example: senha123

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        role:
          type: string
          enum: [admin, employee]

    UpdateUserRequest:
      type: object
      properties:
        username:
          type: string
        role:
          type: string
          enum: [admin, employee]

    # ── Customer ──────────────────────────────────────
    CustomerRequest:
      type: object
      required: [name, email, document, document_type]
      properties:
        name:
          type: string
          example: Roberto Silva
        email:
          type: string
          format: email
          example: roberto@email.com
        document:
          type: string
          example: "12345678901"
        documentType:
          type: string
          enum: [CPF, CNPJ]
          example: CPF

    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
        document:
          type: string
        documentType:
          type: string
          enum: [CPF, CNPJ]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # ── Vehicle ───────────────────────────────────────
    VehicleRequest:
      type: object
      required: [license_plate, customer_id, model, year, brand]
      properties:
        licensePlate:
          type: string
          example: ABC1D23
        customerId:
          type: string
          format: uuid
        model:
          type: string
          example: Corolla
        year:
          type: integer
          example: 2022
        brand:
          type: string
          example: Toyota

    Vehicle:
      type: object
      properties:
        id:
          type: string
          format: uuid
        licensePlate:
          type: string
        customerId:
          type: string
          format: uuid
        model:
          type: string
        year:
          type: integer
        brand:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # ── Supply ────────────────────────────────────────
    SupplyRequest:
      type: object
      required: [title, type, price_cents, stock_quantity, minimum_stock]
      properties:
        title:
          type: string
          example: Oleo Motor 5W30
        type:
          type: string
          enum: [PECA, INSUMO]
          example: PECA
        priceCents:
          type: integer
          example: 5000
          description: Preco em centavos
        stockQuantity:
          type: integer
          example: 100
        minimumStock:
          type: integer
          example: 10
        active:
          type: boolean
          default: true

    Supply:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        type:
          type: string
        priceCents:
          type: integer
        stockQuantity:
          type: integer
        minimumStock:
          type: integer
        active:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    SupplyShortageAlert:
      type: object
      required: [work_order_code, work_order_title, service_title, supply_title, supply_id, required, in_stock]
      properties:
        workOrderCode:
          type: string
          example: OS-20260713-00AF
        workOrderTitle:
          type: string
          example: Revisao Corolla
        serviceTitle:
          type: string
          example: Troca de Oleo
        supplyTitle:
          type: string
          example: Oleo Motor 5W30
        supplyId:
          type: string
          format: uuid
        required:
          type: integer
          example: 4
        inStock:
          type: integer
          example: 2

    # ── Workshop Service ──────────────────────────────
    WorkshopServiceCreateRequest:
      type: object
      required: [title, price_cents, estimated_time_minutes]
      properties:
        title:
          type: string
          minLength: 3
          maxLength: 150
          example: Troca de Oleo
        description:
          type: string
          maxLength: 500
          example: Troca completa de oleo do motor com filtro
        priceCents:
          type: integer
          minimum: 1
          description: Preco em centavos (ex. 5000 = R$50.00)
          example: 5000
        estimatedTimeMinutes:
          type: integer
          minimum: 1
          example: 30

    WorkshopServiceUpdateRequest:
      type: object
      description: Pelo menos um campo deve ser fornecido.
      properties:
        title:
          type: string
          minLength: 3
          maxLength: 150
        description:
          type: string
          maxLength: 500
        priceCents:
          type: integer
          minimum: 1
        estimatedTimeMinutes:
          type: integer
          minimum: 1
        active:
          type: boolean

    WorkshopServiceResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        priceCents:
          type: integer
        estimatedTimeMinutes:
          type: integer
        active:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    WorkshopServiceListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WorkshopServiceResponse"
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    AvgExecutionTimeResponse:
      type: object
      properties:
        serviceId:
          type: string
          format: uuid
        title:
          type: string
          example: Troca de Oleo
        estimatedTimeMinutes:
          type: integer
          example: 30
        avgRealTimeMinutes:
          type: number
          format: double
          example: 25.5
        executionCount:
          type: integer
          example: 3
        differenceMinutes:
          type: number
          format: double
          example: -4.5

    # ── Work Order ────────────────────────────────────
    WorkOrderCreateRequest:
      type: object
      description: |
        Abertura de OS. O campo opened_by_user_id e preenchido automaticamente a partir do token JWT.
        Servicos e pecas sao adicionados apos a abertura via endpoints /work-orders/{id}/services e /work-orders/{id}/services/{wosId}/supplies.
      required: [title, customer_id, vehicle_id]
      properties:
        title:
          type: string
          example: Revisao completa
        description:
          type: string
          example: Cliente relatou barulho no motor
        customerId:
          type: string
          format: uuid
        vehicleId:
          type: string
          format: uuid
        assignedTechnicianId:
          type: string
          format: uuid
          nullable: true
      example:
        title: Revisao preventiva de 60.000 km
        description: Verificar freios, fluidos e correias
        customerId: 8c447e1e-4a7c-49eb-b194-3fbfa5076ab7
        vehicleId: 577bcd3a-d0ee-4af2-a8af-6e70ad54f44f
        assignedTechnicianId: 6dc4bd40-20c7-4cc5-92c7-d57386ad96a2

    WorkOrderUpdateRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          $ref: "#/components/schemas/WorkOrderStatus"
          description: Transiciona o status via maquina de estados
        assignedTechnicianId:
          type: string
          format: uuid
          nullable: true

    WorkOrder:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          example: OS-20260505-001
        title:
          type: string
        description:
          type: string
          nullable: true
        openedByUserId:
          type: string
          format: uuid
        assignedTechnicianId:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/WorkOrderStatus"
        totalEstimatedPriceCents:
          type: integer
        receivedAt:
          type: string
          format: date-time
        quoteSentAt:
          type: string
          format: date-time
        approvedAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        customer:
          $ref: "#/components/schemas/WorkOrderCustomer"
        vehicle:
          $ref: "#/components/schemas/WorkOrderVehicle"
        assignedTechnician:
          type: object
          allOf:
            - $ref: "#/components/schemas/WorkOrderTechnician"
          nullable: true
        services:
          type: array
          items:
            $ref: "#/components/schemas/WorkOrderService"

    WorkOrderCustomer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        document:
          type: string

    WorkOrderVehicle:
      type: object
      properties:
        id:
          type: string
          format: uuid
        licensePlate:
          type: string
        brand:
          type: string
        model:
          type: string
        year:
          type: integer

    WorkOrderTechnician:
      type: object
      required: [id, username, role]
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        role:
          type: string
          enum: [admin, employee]

    WorkOrderService:
      type: object
      required: [id, work_order_id, service_id, service_title_snapshot, service_price_cents_snapshot, service_estimated_time_minutes_snapshot, approval_status, status, supplies, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        workOrderId:
          type: string
          format: uuid
        serviceId:
          type: string
          format: uuid
        serviceTitleSnapshot:
          type: string
        serviceDescriptionSnapshot:
          type: string
          nullable: true
        servicePriceCentsSnapshot:
          type: integer
        serviceEstimatedTimeMinutesSnapshot:
          type: integer
          description: Tempo base estimado do servico em minutos (antes de eventuais acrescimos de prazo no orcamento).
        approvalStatus:
          type: string
          enum: [PENDENTE, APROVADO, REPROVADO]
        status:
          type: string
          enum: [PENDENTE, AGUARDANDO_APROVACAO, EM_EXECUCAO, FINALIZADO]
        supplies:
          type: array
          items:
            $ref: "#/components/schemas/WorkOrderServiceSupply"
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    WorkOrderServiceSupply:
      type: object
      required: [id, work_order_service_id, supply_id, supply_title_snapshot, supply_price_cents_snapshot, supply_quantity, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        workOrderServiceId:
          type: string
          format: uuid
        supplyId:
          type: string
          format: uuid
        supplyTitleSnapshot:
          type: string
        supplyPriceCentsSnapshot:
          type: integer
        supplyQuantity:
          type: integer
          minimum: 1
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    WorkOrderListResponse:
      type: object
      required: [data, page, limit, total, total_pages]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WorkOrder"
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
        totalPages:
          type: integer
      example:
        data:
          - id: 6d663cf4-a3e4-4474-8f44-5b5c05f164dd
            code: OS-20260713-00AF
            title: Revisao preventiva de 60.000 km
            description: Verificar freios, fluidos e correias
            openedByUserId: 8adf9821-860b-4dca-805e-4f0781b9b4f2
            assignedTechnicianId: 6dc4bd40-20c7-4cc5-92c7-d57386ad96a2
            status: EM_DIAGNOSTICO
            totalEstimatedPriceCents: 18500
            receivedAt: "2026-07-13T13:15:00Z"
            createdAt: "2026-07-13T13:15:00Z"
            updatedAt: "2026-07-13T14:20:00Z"
            customer:
              id: 8c447e1e-4a7c-49eb-b194-3fbfa5076ab7
              name: Maria Oliveira
              document: "52998224725"
            vehicle:
              id: 577bcd3a-d0ee-4af2-a8af-6e70ad54f44f
              licensePlate: BRA2E19
              brand: Toyota
              model: Corolla
              year: 2022
            assignedTechnician:
              id: 6dc4bd40-20c7-4cc5-92c7-d57386ad96a2
              username: tecnico01
              role: employee
            services: []
        page: 1
        limit: 10
        total: 1
        totalPages: 1

    AddServiceRequest:
      type: object
      required: [service_id]
      properties:
        serviceId:
          type: string
          format: uuid
        estimatedTimeMinutes:
          type: integer
          description: Override do tempo estimado base em minutos (opcional).

    AddSupplyRequest:
      type: object
      required: [supply_id, quantity]
      properties:
        supplyId:
          type: string
          format: uuid
        quantity:
          type: integer
          minimum: 1

    # ── Public Views ──────────────────────────────────
    PublicWorkOrderView:
      type: object
      required: [code, status, total_estimated_price_cents, received_at, services]
      properties:
        code:
          type: string
        status:
          $ref: "#/components/schemas/WorkOrderStatus"
        totalEstimatedPriceCents:
          type: integer
        receivedAt:
          type: string
          format: date-time
        quoteSentAt:
          type: string
          format: date-time
        approvedAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
        deliveredAt:
          type: string
          format: date-time
        services:
          type: array
          items:
            $ref: "#/components/schemas/PublicServiceView"
      example:
        code: OS-20260713-00AF
        status: AGUARDANDO_APROVACAO
        totalEstimatedPriceCents: 18500
        receivedAt: "2026-07-13T13:15:00Z"
        quoteSentAt: "2026-07-13T15:00:00Z"
        services:
          - title: Troca de Oleo
            status: AGUARDANDO_APROVACAO
            approvalStatus: PENDENTE

    PublicServiceView:
      type: object
      required: [title, status, approval_status]
      properties:
        title:
          type: string
        status:
          type: string
          enum: [PENDENTE, AGUARDANDO_APROVACAO, EM_EXECUCAO, FINALIZADO]
        approvalStatus:
          type: string
          enum: [PENDENTE, APROVADO, REPROVADO]
